/* Fonts */
@font-face {
  font-family: "Chewy";
  src: url("../Fonts/Chewy-Regular.ttf");
}
@font-face {
  font-family: "Sarala";
  src: url("../Fonts/Sarala-Regular.ttf");
}

/* Reset css */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1;
  font-family: "Chewy";
  letter-spacing: 0.2rem;
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
}

a,
i {
  cursor: pointer;
}

h1 {
  font-size: 4.5rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 3.5rem;
}

h4 {
  font-size: 3rem;
}

h5 {
  font-size: 2.5rem;
}

h6 {
  font-size: 2rem;
}

p {
  font-size: 1.6rem;
}

/* header */
.header-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  padding: 3rem 0;
  background-color: khaki;
}

.header-container h2 {
  color: rgb(190, 38, 38);
}

.header-container p {
  color: rgb(61, 22, 0);
}

/* Add todo Form */
.add-todo-form {
  display: flex;
  justify-content: center;
  gap: 10.5rem;
  margin-top: 1.5rem;
  padding: 2rem 0;
}

.add-todo-form input {
  padding: 1rem;
  border: 0.2rem solid rgb(61, 22, 0);
  outline: none;
  border-radius: 1.6rem;
  color: rgb(61, 22, 0);
  font-size: 1.8rem;
}

.add-todo-form input::placeholder {
  color: rgb(61, 22, 0);
}

.add-todo-btn {
  padding: 1.2rem 3rem;
  border: 0.2rem solid transparent;
  background-color: rgb(190, 38, 38);
  cursor: pointer;
  border-radius: 1.6rem;
  transition: all 0.3s ease;
  font-size: 1.8rem;
  color: khaki;
}

.add-todo-btn:hover {
  background-color: transparent;
  border: 0.2rem solid rgb(190, 38, 38);
  color: rgb(61, 22, 0);
}

/* Todo list */
.todo-list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 1.3rem;
  padding-left: 4rem;
  padding-top: 4rem;
}

.todo {
  font-size: 2rem;
  color: rgb(61, 22, 0);
  display: flex;
  align-items: center;
  gap: 1rem;
}

.todo input {
  appearance: none;
  width: 2rem;
  height: 2rem;
  padding: 0.5rem;
  border: 0.1rem solid rgb(61, 22, 0);
  border-radius: 0.8rem;
  cursor: pointer;
  position: relative;
}

.todo input:checked {
  background-color: rgb(61, 22, 0);
  border-color: khaki;
}

.todo input:checked::after {
  content: "";
  position: absolute;
  top: 0.3rem;
  left: 0.6rem;
  width: 0.6rem;
  height: 1rem;
  border: solid khaki;
  border-width: 0 0.2rem 0.2rem 0;
  transform: rotate(45deg);
}

.delete-todo {
  padding: 0.5rem 1rem;
  background-color: rgb(190, 38, 38);
  color: #fff;
  border: 0.2rem solid #fff;
  border-radius: 1rem;
  cursor: pointer;
}

/* Stats */
.stats-container {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  background-color: khaki;
  width: 100%;
  padding: 5rem 0;
}

.stats-container p {
  color: rgb(61, 22, 0);
  letter-spacing: 0.2rem;
}

/* Responsive */

@media (max-width: 800px) {
  .header-container h2 {
    font-size: 3rem;
  }
  .header-container p,
  .stats-container p {
    font-size: 1.4rem;
  }
  .add-todo-form input {
    font-size: 1.6rem;
    padding: 0.5rem;
  }
  .add-todo-btn {
    font-size: 1.6rem;
  }

  .todo-list {
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 670px) {
  .todo-list {
    gap: 0.7rem;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 520px) {
  .header-container h2 {
    font-size: 2.4rem;
  }
  .header-container p,
  .stats-container p {
    font-size: 1.2rem;
  }
  .add-todo-form {
    gap: 3rem;
  }
  .todo-list {
    gap: 1rem;
    grid-template-columns: repeat(1, 1fr);
  }
}
